body {
    background-color: rgb(41, 5, 75);
}

.myTextBox {

    background-color: darkslateblue;
    color: coral;
    font-size: 20;
    height: 90;
    width: 270;
}

.myHeader {

    background-color: coral;
    color: darkslateblue;
    height: 100;
    font-size: 50;
    font-family: 'Courier New', Courier, monospace;
}

.myBox{
    background-color: coral;
    color: darkslateblue;
    width: 50%;
}

.mySmallerBox{
    background-color: coral;
    color: darkslateblue;
    width: 30%;
}
 
.myCrossedLine
{
    font-size:x-large;
    color: red;
    text-decoration: line-through;
}

.myRegLine
{
    font-size:x-large;
    color:darkslateblue;
    text-decoration: none;

}
.myList {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .button {
    background-color: darkslateblue; 
    color: coral;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }
  

